*{
  margin: 0;
  padding: 0;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App{
  background-image: linear-gradient(#88efdc, #f8ecb1);
  padding: 5rem 6rem;
  min-height: fit-content;
  
}

.page-number{
  font-size: 10px !important;
}

button, input{
  color: black;
}

button:hover{
  color: white;
  background-color: gray;
}