.thanks-text{
    font-size: 12px;
}

.next-btn{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.input-fields{
    padding: 0.2rem 1rem;
}

.field{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

select{
    padding: 0.5rem 4.5rem !important;
}
